<div class="container">
	<h2 class="text-center">About Us</h2>
		<div class="row">
						<div class="col-md-6">
							<%= image_tag("steve.jpg", :alt => "Steve Longoria", :class => 'img-responsive img-circle') %>
							<h3 class="text-center"><b>Steve Longoria</b></h3>
						</div>
						<div class="col-md-6">
							<%= image_tag("randy.jpg", :alt => "Randy Denton", :class => 'img-responsive img-circle') %>
							<h3 class="text-center"><b>Randy Denton</b></h3>
					</div>
		</div>
	<p class="text-justify">SatoshiBean is ran by Steve Longoria and Randy Denton. Randy has been roasting coffee 
	beans for 13 years in the Phoenix area. He prides himself on roasting some of the best 
	coffee beans this beautiful planet has to offer.</p>
	<p class="text-justify">Steve has been a tech enthusiast and web developer for several years and, naturally, 
	that means he likes a good cup of coffee. He got used to brewing Randy’s amazing coffee 
	beans when they were roommates and Steve felt that more people should know about Randy’s 
	fresh roasted coffee beans. This lead them to starting SatoshiBean.</p>
	<p class="text-justify">  Steve has also been a cryptocurrency enthusiast since 2012 and is excited about helping open source 
	cryptocurrency projects via donations every month</p>
	<p>At SatoshiBean we use only the finest 
	coffee beans grown around the world on small farm coops. Currently we source our beans 
	from <a href="http://www.olamspecialtycoffee.com" target="_blank">Olam Coffee</a>.</p>
	<p class="text-justify">Quality is the principle upon which everything else we do lies. Our coffee is sourced 
	and roasted from a number of select importers and chosen from as large a sample as 
	possible. We roast each batch multiple times and score them blind. Coffees are then 
	selected not just on scores but on their uniqueness and purpose. We strive to ensure at 
	all times, a small but very high quality selection of coffee
  that represent different flavors, profiles, and tastes.</p>
  <p class="text-justify">One of the few things people are never told is that coffee beans are organic, they 
  change. The same varietal from the same crop can change from year to year, from bag to 
  bag and even throughout the bag (Ethiopian Harrar, for example). Making coffee taste the 
  exact same way every single time isn’t our goal. We want consistency not in flavor but 
  in quality which means all batches are hand roasted, recorded and later cupped to insure 
  consistency.</p>
</div>