<div class="container">
	<h2 class="text-center">About Us</h2>
	<p>SatoshiBean is ran by Steve Longoria and Randy Denton. Randy has been roasting coffee 
	beans for 13 years in the Phoenix area. He prides himself on roasting some of the best 
	coffee beans this beautiful planet has to offer. At SatoshiBean we use only the finest 
	fair-trade coffee beans grown around the world on small farm coops.</p>
	<p>Steve has been a tech enthusiast and web developer for several years and, naturally, 
	that means he likes a good cup of coffee. He got used to brewing Randy’s amazing coffee 
	beans when they were roommates and Steve felt that more people should know about Randy’s 
	fresh roasted coffee beans. This lead them to starting SatoshiBean.</p>
	<p>  Steve has also been a cryptocurrency enthusiast since 2012 and is excited about helping open source 
	cryptocurrency projects via donations every month</p>
</div>