<div class="container text-center">
	<h2>About Us</h2>
	<p>SatoshiBean features a different coffee bean every month and donates 10% of each sale
	to cryptocurrency open source projects.</p>
	<p>Satoshi Bean consists of just 2 people; Randy & Steve. Randy has been roasting coffee
	beans for several years with his own wholesale business in Phoenix where he supplies his
	fresh roasted coffee beans to local cafes.</p>
	<p>Steve handles all the marketing, web development and business aspects of Satoshi Bean and is the 
	crypto-currency nerd of the two. He's been intrigued by the social and political aspects
	of Bitcoin and other cryptocurrencies ever since he first heard of them in 2012.</p>
</div>