<div class="container">
  <div class="row">
    <h3 class="text-center">Checkout</h3>
    <div class="col-md-4 col-md-offset-4">
        <iframe id="gear-widget" scrolling="no" src="https://gateway.gear.mycelium.com/widgets/b9ea2080f62a4cc4ce2b52f2b8fc901b2244dc11e06ecde0d11210dfc1b3a337" style="border: none; display: inline-block; height: 130px; min-width: 250px; max-width: 350px;"></iframe>
    <p>Testing one two.</p>
    </div>
  </div>
</div>