<div style="margin-bottom: 50px;" class="container">
	<h2 class="text-center">Donations</h2>
	<p>For our first month in business (May '17) we will be donating 15% of each sale to the
	<%= link_to "OpenBazaar", "http://openbazaar.org", target: "_blank" %> project. After making this donation, we will publish the blockchain 
	transaction details here on this page for the public to audit.</p>
	<p>We plan on donating to a different open source project every month based on what 
	Satoshi Bean customers vote for in our company Slack chat. All of our customers will be
	offered an invite to our Slack chat. Projects that have received Satoshi Bean donations in the past are still be eligible in the future. Say for example
	our customers vote to donate to OpenBazaar for 3 straight months or more. This would be 
	perfectly acceptable. It's whatever our customers want!</p>
</div>