<div class="home-callout text-center container-fluid">
	<h1>Fresh Roasted Coffee Beans Made To Order</h1>
	<h3>15% of each sale is donated to various open source projects</h3>
</div>
<div class="container">
	<h2 class="text-center" style="margin-bottom: 20px;">Coffee Has Never Tasted This Good</h2>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<p class="text-center"><b>Fresh Roasted Coffee Beans</b></p>
			<p class="text-justify">At Satoshi Bean we only use the finest coffee beans grown from small fairtrade 
			coops around the world.</p>
			<p class="text-justify">Once you place your order we fire up the roaster and get to
			work. Each order is roasted fresh to ensure you're getting the best tasting beans
			you'll ever have.</p>
		</div>
		<div class="col-md-4">
			<p class="text-center"><b>We HODL</b></p>
			<p class="text-justify">We believe in the future of Bitcoin and other cryptocurrencies which means we try 
			to hold on to the Bitcoin we earn.</p>
			<p class="text-justify">We’re not yet able to hodl 100% of Bitcoins 
			earned but as time goes on we hope we won't have to ever touch fiat currency again.</p>
		</div>
		<div class="col-md-4">
			<p class="text-center"><b>We Donate To Open Source</b></p>
			<p class="text-justify">15% of each sale goes to various crypto currency open source projects every month. 
			For the month of May it's going to OpenBazaar.</p>
			<p class="text-justify">SatoshiBean customers are invited to 
			join our Slack channel to suggest new open source projects to donate to.</p>
		</div>
	</div>
</div>
<div class="container">
	<h2 class="text-center">Featured Coffee Bean Of The Month</h2>
</div>

<div class="container">
	<h2 class="text-center">Satisfaction Guaranteed Or Your Bitcoin Back</h2>
	<p class="text-justify">At Satoshi Bean we stand by our product and believe it’ll be one of the best coffee 
	beans you’ll ever have. We are so sure of this that we’ve decided to offer a no questions 
	asked, money back guarantee. If you are absolutely thrilled with our fresh roasted coffee 
	beans simply send them back and we’ll issue a full refund, no questions asked!</p>
</div>
<div class="container">
	<div class="well">
		<h2 class="text-center">Try A Bag Of Mexico La Concordia Especial Today</h2>
					<a href="/checkout" class="btn btn-primary btn-block btn-lg">Buy A Bag</a>
	</div>
</div>