<div class="home-callout text-center container-fluid">
	<div class="row">
		<div class="col-md-8">
			<h1>Fresh Roasted Coffee Beans Made To Order</h1>
			<h3>15% of each sale is donated to various open source projects</h3>
			<a href="#info" class="btn btn-primary btn-primary-outline btn-lg page-scroll">Learn More</a>
		</div><!-- /.col-md-7 -->
		<div class="col-md-4">
			<%= image_tag("bagbeans.png", :alt => "Bag Of Beans", :class => 'img-responsive bean-bag') %>
		</div><!-- /.col-md-5 -->
	</div><!-- /.row -->
</div>
<div class="container">
	<h2 class="text-center" style="margin-bottom: 20px;">Coffee Has Never Tasted This Good</h2>
</div>
<div class="container" id="info">
	<div class="row">
		<div class="col-md-4">
		<i class="fa fa-coffee fa-5x fa-icon"></i>
			<p class="text-center"><b>Fresh Roasted Coffee Beans</b></p>
			<p class="text-justify">At Satoshi Bean we only use the finest coffee beans grown from small fairtrade 
			coops around the world.</p>
			<p class="text-justify">Once you place your order we fire up the roaster and get to
			work. Each order is roasted fresh to ensure you're getting the best tasting beans
			you'll ever have.</p>
		</div>
		<div class="col-md-4">
		<i class="fa fa-btc fa-5x fa-icon"></i>
			<p class="text-center"><b>We "HODL"</b></p>
			<p class="text-justify">We believe in the future of Bitcoin and other cryptocurrencies which means we try 
			to hold on to the Bitcoin we earn.</p>
			<p class="text-justify">We’re not yet able to "hodl" 100% of Bitcoins 
			earned but as time goes on we hope we won't have to ever touch fiat currency again.</p>
		</div>
		<div class="col-md-4">
		<i class="fa fa-code fa-5x fa-icon2"></i>
			<p class="text-center"><b>We Donate To Open Source</b></p>
			<p class="text-justify">15% of each sale goes to various crypto currency open source projects every month. 
			For the month of May it's going to OpenBazaar.</p>
			<p class="text-justify">SatoshiBean customers are invited to 
			join our Slack channel to suggest new open source projects to donate to.</p>
		</div>
	</div>
</div>
<div class="container">
	<h2 class="text-center">The Colombia Tolima La Primavera Coffee Bean, A Personal 
	Favorite</h2>
	<p>The first coffee bean we have to offer is one of our personal favorites; The Colombia 
	Tolima. We source this amazing bean from <a href="http://www.olamspecialtycoffee.com" target="_blank">Olam Coffee</a>.</p>
	<p><b>Process:</b> Washed</p>
	<p><b>Cupping:</b> Strong Acidity. Floral Aroma. Cherry, Brown Sugar, and lemon notes in 
	cup.</p>
	<p><i>Note: We plan on offering a few more types of coffee beans but since this is our 
	favorite we're starting with it. All of our beans are considered light-medium roasted.</i></p>
	
</div>

<div class="container">
	<h2 class="text-center">Satisfaction Guaranteed Or Your Bitcoin Back</h2>
	<p class="text-justify">At Satoshi Bean we stand by our product and believe our beans 
	will be some of the best you've ever had. We are so sure of this that we’ve decided to 
	offer a no questions asked, money back guarantee. If you aren't absolutely thrilled with 
	our fresh roasted coffee beans simply send them back and we’ll issue a full refund, no 
	questions asked!</p>
</div>
<div class="container">
	<div class="well">
		<h2 class="text-center">Try A 1lbs Bag Of Colombia Tolima Today</h2>
			<p class="text-center"><i>*FREE Shipping within US & 15% of sale is donated to OpenBazaar. Most orders ship within 48 hours but can sometimes take up to 4 days.</i></p>
					<a href="ob://654c7e9efacaffa3c0a3ba9bae0b5484fd33322d/store" class="btn btn-primary btn-block btn-lg">Buy A Bag For $25</a>
	</div>
	<p class="text-center">Our shop resides exclusively on OpenBazaar. Clicking on the button above will 
					open our store in the OpenBazaar client.</p>
					<p class="text-center">Don't have OpenBazaar yet? Click below 
					to download and install it.</p>
					<%= link_to "http://openbazaar.org" do %>
						<%= image_tag("openbazaarlogo.jpg", :alt => "Download OpenBazaar", :class => 'img-responsive') %>
					<% end %>
</div>